<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Spice Inn's CookBook</title>
</head>
<body>

    <header>

        <!------- Nav bar-------->

        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a href="{{ url_for('get_index') }}" class="brand-logo ">Spice Inn's CookBook</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons burger">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_index') }}">Home</a></li>
                    <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login / Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!------- Mobile side nav -------->

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('get_index') }}">Home</a></li>
            <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login / Sign Up</a></li>
            {% endif %}
        </ul>


    </header>


    {% block content %}

    
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script>
        (function() {
          emailjs.init("user_zzDV2sbGZ33iGetPtxiUb");
        })();
      </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>