
<form action="{{ url_for('comments') }}" method="POST">
    <fieldset>
        <legend>Add a Comment</legend>
        <!-- TITLE -->
        <div class='form-group'>
            <label for='person_name'>Title</label><br>
            <input class='form-control'
                id='person_name'
                type='text'
                name='person_name' 
                placeholder='Title'/>
        </div>

        <!-- DESCRIPTION -->
        <div class='form-group'>
            <label for='user_comment'>Description</label><br>
            <textarea class='form-control'
                id='user_comment'
                name='user_comment' 
                rows='10'
                placeholder='Your comment...'></textarea>
        </div>
    </fieldset>

    <!-- BUTTON -->
    <div class='form-group'>
        <button class='btn btn-primary' type='submit'>Post Comment</button>
    </div>
</form>
