{% extends "base.html" %}
{% block content %}

<!--  The code below has been inspired and retrived by Materialize Starter Templates. 
      Please find link below : 
      https://materializecss.com/templates/parallax-template/preview.html -->

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container ">
        <br><br>
        <h1 class="header center white-text landing_text text-lighten-2">
          A food place with fresh, zesty recipes</h1>
        <div class="row center">
            <a href="{{ url_for('get_recipes') }}" 
            id="download-button" 
            class="btn-large btn-adjust waves-effect waves-light brown-text text-darken-4 grey lighten-2 ">
            Browse some recipes!</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/static/images/1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <i class="mdi-content-send brown-text"></i>
          <h4>Hi there!</h4> <br>
          <p class="center light">Do you consider yourself a foodie? <br> 
            If the answer is YES, then you have come to the right spot. We love
            to share our pasion with other foodies out there! <br> For that reason we've created this page 
            so you can discover new recipes, share your own and have all of your favorites in one place.</p>
          <h5>Enyoj!</h5> <br>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 white-text lighten-1 picture_text">A recipe has no soul. 
            You, as the cook, must bring soul to the recipe. <br> <br> ~ Thomas Keller</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/images/1.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">

    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="center icon-block">
            <i class="fas fa-search"></i>
            <h5 class="card_title_text">FIND</h5>
            <p class="light">Are you thinking of what to cook today? Find something tasty to indulge in. 
              Take a look at various recipies made by our master chefs or tested recipes 
              from our foddies worldwide. Whatever it is that your craving right now, you'll find 
              something delicious here.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="center icon-block">
            <i class="fas fa-share"></i>
            <h5 class="card_title_text">SHARE</h5>
            <p class="light">You've fallen in love with a recipe? Make sure to share it with your friends and family.
              Whether it's something delicious that caught your eye at our recipes section, or your own creation,
              just click the share button under each recipe!
               </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="center icon-block">
            <i class="fas fa-plus"></i>
            <h5 class="card_title_text">UPLOAD</h5>
            <p class="light">Want to make a collection of your favorite recipes or show them to the world? You can have
              both in one place! <a href="{{ url_for('register') }}" style="font-size: 1.2em; text-decoration: none;">Sign Up</a> 
              for free and create your own cookbook with all of your favorite recipes.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 white-text lighten-1 picture_text"> 
            Growth springs from better recipes, not just from more cooking. <br> <br> ~ Paul Romer
          </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/images/1.jpg" alt="Unsplashed background img 3"></div>
  </div>

  {% include 'footer.html' %}

{% endblock %} 