{% extends "base.html" %}
{% block content %}

<div class="container recipe-container">
    <section class="container center-align">
        <div class="row">
          <div class="col s12">
            <h4 class="recipe_header">"{{ recipe.recipe_name }}"</h4>
          </div>
        </div>
      </section>

    <a href="{{ url_for('get_recipes') }}">
      <i class="fas fa-arrow-left" style="padding: 30px;"> Back to recipes </i>
    </a>

      <!-- Rectipe Details -->
      <div class="row recipe_details">
        <div class="col s12 n4">
          <h5>Try it at: {{ recipe.category_name}}</h5>
          {% if recipe.is_vegetarian == "on" %}
          <h5>Note: It's Vegetarian!</h5>
          {% else %}
          <h5>Note: It's not Vegetarian!</h5>
          {% endif %}
        </div>
        <div class="col l6 s12 recipe-image">
          <div class="card-panel">
            <img class="responsive-img" src="{{ recipe.img_url }}"
              alt="image of {{ recipe.recipe_name }}" />
          </div>
        </div>

        <div class="col l6 s12 recipe-info-text">
          <div class="card-panel">
              <h2>Ingredients</h2>
              {% for ingredient in recipe.recipe_ingredients.splitlines() %}
                <p>{{ ingredient }}</p>
              {% endfor %}
          </div>

          <div class="card-panel recipe_details">
            <h2>Method</h2>
            {% for method in recipe.recipe_method.splitlines() %}
              <p>{{ method }}</p>
            {% endfor %}
          <div id="recipe-by">
            <h3>by: {{ recipe.added_by }}</h3>
            <!-- The share buttons were added with sharethis.com -->
            <div class="sharethis-inline-share-buttons"></div>
          </div>
          </div>
        </div>
    </div> 
</div>
{% endblock %}